h1 {
  text-align: center;
  color: #ff6600;
  font-size: 4rem;
  font-weight: bold;
  margin: 2rem;
}

#searchForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #cccccc;
  border-radius: 10px;
  padding: 20px;
  margin: 20px auto;
  width: 100%;
  max-width: 600px;
}


#searchForm label, #searchForm select, #searchForm input {
  margin: 10px;
  width: 100%;
}

#searchForm input[type="radio"] {
    position: absolute;
    clip: rect(0 0 0 0);
  }

#searchForm input[type="radio"] + label {
  display: inline-block;
  padding: 10px;
  border: 1px solid #cccccc;
  border-radius: 5px;
  cursor: pointer;
}

#searchForm input[type="radio"]:checked + label {
  background-color: #ff6600;
  color: white;
}


#matchingCards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
  margin: 20px auto;
  width: 100%;
}

.card {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0,0,0,0.1);
  padding: 20px;
  overflow: hidden;
}

#searchForm {
  margin: 2rem;
  width: 90%;
  max-width: none;
}

#searchForm label, #searchForm select, #searchForm input {
  margin: 1rem;
  width: 90%;
}

#matchingCards {
  margin: 2rem;
  width: 90%;
}

@media (min-width: 600px) {
  #searchForm {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  #searchForm label, #searchForm select, #searchForm input {
    width: auto;
  }
}

@media (min-width: 900px) {
  #matchingCards {
    grid-template-columns: repeat(3, minmax(300px, 1fr));
  }
}