* {
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #f5f5f2;
  }

nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #ff6600;
}

#gifs {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 150px;
}

.gifcentre {
    padding-left: 5px;
    padding-right: 5px;
}
.nav-container {
    display: flex;
    align-items: center;
    width: 100%;
}

.image-container {
    margin: 0;
}

.image-container img {
    margin: 5px 3px;
    /* Ajustez la marge selon vos besoins */
}

.text-container {
    text-align: center;
    width: 100%;
    color: white;
}

.footer {
    font-size: small;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
}

.link a{
        text-decoration: none;
        color: white;
        font-size: larger;
        padding-right: 1rem;
      }

main {
    width: 80%;
    max-width: 800px;
    margin: 0 auto;
    background-color: #f9f9f9;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}


.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }
  
  .popup-content {
    background-color: #ff6600;
    color: #fff;
    padding: 20px;
    max-width: 400px;
    text-align: center;
  }
  
  .popup-content h2 {
    font-size: 50px;
  }
  
  .popup-content p {
    font-size: 30px;
  }
  
  .popup-content button {
    padding: 10px 20px;
    background-color: #ff0000;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
@media (max-width: 600px){

    nav{
        flex-direction: column;
    }
    .nav-container{
        flex-direction: column;
    }
    .image-container img {
        width: auto;
        height: auto;
    }
    main {
        width: auto;
        max-width: none;
        margin: 10px;
    }
}   